body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cover-art {
    width: 100px;
}

.track-container {
    background-color: darkgreen;
    grid-column-start: 1;
    grid-column-end: 2;
}

.card-container {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 300px;
    margin-bottom: 2rem;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist {
    height: 100%;
    background: cyan;
}

